<% provide(:title, 'Explore') %>
		<h1>Explore</h1>
<<<<<<< HEAD
		
		<p> this is the explore page
			<br>
			<%= link_to "Value Drivers", value_drivers_path %>
			</br>
=======
		<p>This is where you can explore the Business Modeler content
			
	
>>>>>>> d73a22a571763c0494413a978350d5938ec0e1d2
		</p>
