<% provide(:title, 'All value drivers') %>
<h1>All value drivers</h1>

<%= will_paginate %>

<ul class="value_drivers">
	
  <%= render @value_drivers %>
</ul>

<%= will_paginate %>

<div>
	 <%= link_to "Add New", addnew_path, class: "btn btn-small btn-primary" %>
</div>
