<% provide(:title, @value_driver.name) %>

<div class="row">
	<aside class="span4">
		<section> 
			<h1>
				<%= @value_driver.name %>
			</h1>
			<p>
				<%= @value_driver.text %>
			</p>
		</section>
	</aside>
</div>